{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block slides %}
    {% include '_title_page.html' %}
    <section id="overview">
        <section><h2>Overview</h2></section>
        <section>
            <h2>Problem statement</h2>
        </section>
    </section>
    <section>
        <h2>Objectives</h2>
    </section>
    <section>
        <h2>Lit review</h2>
    </section>
    <section>
        <h2>Interesting findings</h2>
    </section>
    <section>
        <section data-background="#007777"><h2>System development progress</h2></section>
        <section data-background="#007777"><h2>System Design</h2></section>
        <section data-background="#007777"><h2>Web crawler</h2></section>
        <section data-background="#007777">
            <h2>Crawler architecture</h2>
            <img src="static/img/scrapy.png" alt="crawler architecture" title="crawler architecture"/>
        </section>
        <section data-background="#007777">
            <h2>Algorithms</h2>
        </section>
    </section>
    <section data-transition="linear" data-background="#4d7e65" data-background-transition="slide">
        <h2>Schedule</h2>
        <img src="static/img/gantt.png" alt="project gantt chart" title="project gantt chart"/>
    </section>
    <section>
        <section data-transition="linear" data-background="#8c4738" data-background-transition="slide">
            <h2>Issues raised</h2>
        </section>
        <section>
            <h2>Issue 1</h2>
            Stuff about issue 1
        </section>
        <section>
            <h2>Issue 2</h2>
            Stuff about issue 2
        </section>
    </section>
    <section>
        <h2>Thank you</h2>

        <h3>Demo</h3>
    </section>
{% endblock %}