{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block slides %}
    {% include '_title_page.html' %}
    <section id="overview">
        <section><h2>Overview</h2></section>
    </section>
    <section>
        <h2>Literature review</h2>
        Website analysis methods
        Qualitative methods
        Content analysis, focus groups, interviews, referrer analysis, user feedback, audience analysis
        Quantitative methods
        Website log analysis, bibliometrics, scientometrics, webometrics
        .........
    </section>
    <section>
        <section><h2>System development progress</h2></section>
    </section>
    <section>
        <h2>Schedule</h2>
        <img src="static/img/gantt.png" alt="project gantt chart" title="project gantt chart"/>
    </section>
    <section>
        <h2>References</h2>
        <ul>
            <li><p>Oxford Internet Institute, n.d. Analytics. [Online] Available at:
                http://microsites.oii.ox.ac.uk/tidsr/kb/kb/analytics [Accessed 23 October 2013].</p></li>
            <li><p>Thelwall, M., 2009. Introduction to Webometrics: Quantitative Web Research for the Social Sciences.
                Morgan & Claypool.</p></li>
            <li><p>Thelwall, M., 2013. Webometrics and Social Web Research Methods.</p></li>
            <li><p>Thelwall, M., Vaughan, L. & Bjorneborn, L., n.d. Webometrics. In Annual Review of Information Science
                and Technology.</p></li>
        </ul>
    </section>
    <section>
        <h2>Thank you</h2>

        <h3>Demo</h3>
    </section>
{% endblock %}