{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block slides %}

    <section id="top">
        <h2>Analysis of Kenyan Webspace using webometric algorithms</h2>

        <h3>ERIC CHOMBA NG'ANG'A</h3>

        <h3>P15/1263/2010</h3>
    </section>
    <section id="overview">
        <section><h2>Overview</h2></section>
        <section>
            <h2>Introduction</h2>
            <ul>
                <li>Use of websites</li>
                <li>Target audience</li>
                <li>Focus on UoN</li>
            </ul>
        </section>
        <section>
            <h2>Problem Statement</h2>

            <p>There is no effective method to analyze and determine the effectiveness and impact UoN's system of
                websites.</p>
            {#        </section>#}
            {#        <section>#}
            <br/>

            <h2>Justification</h2>

            <p>Provision of information about the effectiveness and impact of websites will enable website
                administrators to make more informed decisions. For example, they would know when to improve on their
                website or policies governing the same.</p>
        </section>
    </section>
    <section>
        <section><h2>Objectives</h2></section>
        <section>
            <h2>System development</h2>
            <ol>
                <li>Data collection module (website crawling)</li>
                <li>Data analysis</li>
                <li>Information presentation</li>
            </ol>
        </section>
        <section>
            <h2>Research</h2>
            <ol>
                <li>Industry standard mehods and practices of website analysis</li>
                <li>Implementation of webometrics</li>
                <li>Application of webometrics</li>
            </ol>
        </section>
    </section>
    <section>
        <h2>Literature review</h2>
        Website analysis methods
        Qualitative methods
        Content analysis, focus groups, interviews, referrer analysis, user feedback, audience analysis
        Quantitative methods
        Website log analysis, bibliometrics, scientometrics, webometrics
        .........
    </section>
    <section>
        <section><h2>System development methodology</h2></section>
        <section>
            <h2>Evolutionary prototype</h2>
            <img src="/static/img/evolutionary_prototype.jpg" alt="evolutionary prototype"
                 title="evolutionary prototype"/>
        </section>
        <section>
            <h2>Iterations</h2>
            <img src="/static/img/iterations.png" alt="iterations" title="iterations"/>
        </section>
    </section>
    <section>
        <h2>Resources</h2>
        <ul>
            <li><p>Advice will be provided by the UoN website administrator(s) on the requirements of the proposed
                system</p></li>
            <li><p>A capable computer will be used to develop the system and write documentation.</p></li>
            <li><p>A reliable internet connection will be required to access websites for analysis</p></li>
            <li><p>A production server to host the final system</p></li>
        </ul>
    </section>
    <section>
        <h2>Schedule</h2>
        <img src="/static/img/gantt.png" alt="project gantt chart" title="project gantt chart"/>
    </section>
    <section>
        <h2>References</h2>
        <ul>
            <li><p>Oxford Internet Institute, n.d. Analytics. [Online] Available at:
                http://microsites.oii.ox.ac.uk/tidsr/kb/kb/analytics [Accessed 23 October 2013].</p></li>
            <li><p>Thelwall, M., 2009. Introduction to Webometrics: Quantitative Web Research for the Social Sciences.
                Morgan & Claypool.</p></li>
            <li><p>Thelwall, M., 2013. Webometrics and Social Web Research Methods.</p></li>
            <li><p>Thelwall, M., Vaughan, L. & Bjorneborn, L., n.d. Webometrics. In Annual Review of Information Science
                and Technology.</p></li>
        </ul>
    </section>
    <section>
        <h2>Thank you</h2>

        <h3>Q & A</h3>
    </section>
{% endblock %}